@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animated-image {
  animation: pulsate 1s infinite;
}

@layer components {
  .container {
    @apply w-auto max-w-none m-14;
  }
  .team-profile {
    @apply text-center px-6 py-4;
  }
  .team-profile img {
    @apply w-32 h-32 object-cover rounded-full object-top;
  }
  .team-profile h3 {
    @apply font-bold text-xl;
  }
  .team-profile p {
    @apply text-sm text-gray-600;
  }
}

/* Add this to your existing CSS or create a new CSS file */
.slide-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-in.active {
  opacity: 1;
  transform: translateY(0);
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.loader-image {
  max-width: 100%;
  max-height: 100%;
}